body {
    padding: 0;
    margin: 0;
    background-image: url(fishfamily.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}

header{
    display: flex;
}

header h1{
    
    background-image: linear-gradient(rgb(10, 138, 235), rgb(63, 150, 249), rgb(134, 220, 253));
    background-repeat: no-repeat;
    display: flex;
    height: 100px;
    width: 100%;
    margin-top: 0px;
    font-size: 60px;
    justify-content: center;
    align-items: center;
}

nav ul {

    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;

}
nav {
    background-image: linear-gradient( rgb(134, 220, 253));
    background-repeat: no-repeat;
    height: 40px;
    width: 100%;
    margin-top: -70px;
}
li{
    padding-right: 500px;
    padding-left: 400px;
}

