body {
    padding: 0;
    margin: 0;
    background-image: url(fishfamily.jpg);
    background-position: -150px, -0px;
    background-repeat: no-repeat;
    background-size:cover;

}

header{
    display: flex;
}

.bigone {
    font-size: 100px;
    display: flex;
    justify-content: flex-start;

}

header h1{
    
    background-image: linear-gradient(rgb(10, 138, 235), rgb(63, 150, 249), rgb(134, 220, 253));
    background-repeat: no-repeat;
    display: flex;
    height: 100px;
    width: 100%;
    margin-top: 0px;
    font-size: 60px;
    justify-content: center;
    align-items: center;
}

nav ul {
    position: relative;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;

}
nav {
    background-image: linear-gradient( rgb(134, 220, 253));
    background-repeat: no-repeat;
    height: 40px;
    width: 100%;
    margin-top: -70px;
}

footer {
  background: linear-gradient( rgb(10, 138, 235), rgb(63, 150, 249), rgb(134, 220, 253));
  display: flex;
  margin-top: 900px;
  height: 200px;
 
}

