  /* Base setup */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    color: white; /* TASK: All text must be white as per diagram */
}
 
/* 1. LAYOUT STACK: 
   HINT: Use 'flex-direction' to stack the 4 main sections vertically. */
.page-container {
    height: 850px; 
    /* STUDENT TASK: Initialize flex and set the direction */
}
 
/* 2. HEADER: 
   HINT: Use 'align-items' to center the logo and title vertically in the pink bar. */
header {
    background-color: #ffadad; 
    padding: 15px 30px;
    
    gap:150px;
    display: flex;
    align-items: center;
    flex-direction: row;
    
    /* STUDENT TASK: Initialize flex and align items */
}


#logogo {
    background-color: #d9d9d9; 
    color: white;
    border: 1px solid #777;
    padding: 10px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
}
 
/* 3. NAVIGATION: 
   HINT: Use 'justify-content' to move your links to the center of the purple bar. */
nav {
    width: auto;
    height: 100px;
    background-color: #a442a4; 
}
 
nav ul {
    font-size: xx-large;
    list-style: none;
    margin: 0;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    /* STUDENT TASK: Initialize flex and center the content */
}
 
nav ul li a {
    color: white;
    text-decoration: none;
}
 
/* 4. MAIN CONTENT: 
   HINT: Use 'justify-content' to create even space between the boxes (like space-evenly). */
.main-content {
    background-color: #e0e0e0; 
    padding: 40px;
    height: 800px;

    /* STUDENT TASK: Initialize flex and space the boxes */
    
     
}
 
#content-box{
    background-color: #b0a3a3; 
    width: 500px;
    height: 650px;
    padding: 30px;
    margin-top: 50px;
    margin-left: 300px;
    font-size: x-large;


}
 
#image-box{
    background-color: #b0a3a3;
    width: 500px;
    height: 500px;
    margin-top: -700px;
    margin-left: 1500px;

    
    
    
    /* HINT: Use both 'justify' and 'align' to center the word 'image' inside here */
}
#amihr {

    height: 500px;
    width: 500px;
}
 
/* 5. FOOTER: 
   HINT: Use 'flex-direction' again to stack the text and social bar. */
footer ul {

    list-style: none;  
    justify-content: space-around;
    display: flex;
    font-size: xx-large;

   
    /* STUDENT TASK: Initialize flex and stack elements */
}


#social-links {
    background-color: #d9d9d9; 
    color: white;
    padding: 10px 40px;
    align-self: flex-end;
    margin-left: 890px;
    margin-top: 250px;
    width: 500px;
    height: 50px;
    font-size: xx-large;
    text-align: center;
    border: 1px solid #777;

}

footer {
    background-color: #b38bff; 
    padding: 20px;
    height: 400px;
    

}