 
html, body{
    height: 100%;
    margin: auto;
}
.page_container{
    background-color: rgb(226, 228, 241);
    width:1700px;  
    margin: auto;
    
}
 
.box{
    width:200px;
    height: 200px;
    border:2px solid red;
    align-content: center;
}
 
#box1{
    background-color: #49d260;
    width: 100%;
    
}
#box2{
    background-color: #c1d42f;
    margin-left: 431px;
    margin-top: 150px;

 
    
}
#box3 {
    background-color: #5039d3;
    margin-left: 431px;
  margin-bottom: 100px;
   
}
#box4{
    margin-left: 862px;
    margin-top: -450px;
    background-color: #e03f3f;

}
#box5{
    background-color: #d249cb;

    margin-left: 862px;
    margin-bottom: 10px;
        
}
#box6{
    background-color: #e9a340;
    width: 100%;
    
}

