<!DOCTYPE html>
<html>
<head>
    <body>
   <link rel="stylesheet" href="template1.css">
<div class="page-container"> 
  
    <header > 
        <title>template 1</title>
        <img src="https://png.pngtree.com/png-vector/20260323/ourmid/pngtree-hand-sanitizer-bottle-with-teal-accents-and-logo-placeholder-png-image_18671808.webp">
        <h1> placehgolder </h1>
        <p>placeghpolder</p>
        <p>p;acehgpo;der </p>  
        <p>placehpolder</p> 
        

        <!-- logo and title and sometimes nav also goes in here--> 
    </header> 
    <nav> 
        <!-- menu links go here --> 
    </nav> 
 
  
    <div class="main-container"> 
        <!-- main page content goes here --> 
    </div> 
  
    <footer>  
        <!-- copyright and footer links go here !--> 
</footer> 
</div>
</head>
</html>
</body>