body {
  padding: 0;
  margin: 0;

}


header {
  display: flex;
  background-color:cornflowerblue;
  padding: 40px;
  margin:auto;

}
header img {
   height: 100px;
   width: 100px;
  border: 10px solid navy;
  border-radius: 90px;

}

header h1  {
    margin-left: 50px;
    align-content: space-evenly;

}
header p {

   align-content: space-evenly;
}