<!DOCTYPE html>
<html>
<body>
<link rel="stylesheet" href="template1.css">
<div class="page-container"> 
  
    <header> 
        
        <img src="https://png.pngtree.com/png-vector/20260323/ourmid/pngtree-hand-sanitizer-bottle-with-teal-accents-and-logo-placeholder-png-image_18671808.webp">
        <div id="tittle">
        <h1> placehgolder </h1>
        </div>

        <ul>
        <li>placeghpolder</li>
        <li>p;acehgpo;der </li>  
        <li>placehpolder</li> 
        <li> pa;lceholder</li>
        </ul>
        

        <!-- logo and title and sometimes nav also goes in here--> 
    </header> 
    <nav> 
        <!-- menu links go here --> 
    </nav> 
 
  
    <div class="main-container"> 
        <!-- main page content goes here --> 
    </div> 
  
    <footer>  
        <!-- copyright and footer links go here !--> 
</footer> 
</div>
</body>
</html>
