<!DOCTYPE html>
<html>

<link rel="stylesheet" href="template1.css">

  <body>   
    <div class="page-container"> 
     <header> 
        
         <img src="https://png.pngtree.com/png-vector/20260323/ourmid/pngtree-hand-sanitizer-bottle-with-teal-accents-and-logo-placeholder-png-image_18671808.webp">
         <div id="tittle">
         <h1> placehgolder </h1>
         </div>
 
         <ul>
         <li>placeghpolder</li>
         <li>p;acehgpo;der </li>  
         <li>placehpolder</li> 
         <li> pa;lceholder</li>
        </ul>
        

        <!-- logo and title and sometimes nav also goes in here--> 
    </header> 
    <nav> 
        <!-- menu links go here --> 
    </nav> 
 
  
    <div class="main-container"> 
        <table>
        <tr class="heads"> 
         <th>Subject</th>
         <th>Exam Date</th>
         <th>Exam Time</th>
         <th>Study Time</th>
         <th>Progress</th>
        </tr>
       
        <tr class="easy">
         <td> english</td>
         <td>today</td>
         <td>5am</td>
         <td>483</td>
         <td>done</td>
         
        </tr> 
        <tr class="medium">
         <td> math</td>
         <td>today</td>
         <td>5am</td>
         <td>439</td>
         <td>done</td>
        </tr>
        <tr class="hard">
            <td>social sciences</td>
            <td>today</td>
         <td>5am</td>
         <td>483</td>
         <td>done</td>
        </tr>
        <tr class="impossible">
            <td>digital technolgoies</td>
         <td>today</td>
         <td>5am</td>
         <td>483</td>
         <td>done</td>
        </tr>
        <tr class="hacker">
        <td>science</td>
        <td>today</td>
         <td>5am</td>
         <td>483</td>
         <td>done</td>
        </tr>
         </table>
         </div>

        <!-- main page content goes here --> </div> 

            <form>
                <label for="fname">First name:</label><br>
                <input type="text">

                <input type="submit">

            </form>

    <footer>
     <ul id="amir"> 
        <li>placehpolder</li>
        <li>placehpolder</li>
        <li>placehpolder</li>
        <li>placehpolder</li>
        <li>placehpolder</li>
     </ul>

        <!-- copyright and footer links go here !--> 
    </footer> 

</body>
</html>
